   
# Игнорирование css-файлов (все через scss)
/assets/css
# Игнорирование настроек Visual Studio Code
/.vscode
# Игнорирование установленных модулей
/node_modules
# Игнорирование шрифтов
/assets/fonts